.sidebar {
  width: 250px;
}

.box-item-sidebar {
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}

.box-profile-customer {
  display: flex;
  gap: 20px;
}

.name-customer {
  font-size: 2rem;
  line-height: 0.8;
  margin-bottom: 8px;
}

.edit-profile-link {
  font-size: 1.4rem;
  display: block;
  color: #3ba20f;
  text-decoration: none;
}

.edit-profile-link:hover {
  color: #6fd344;
}

.title-default {
  margin-bottom: 14px;
}

.title-default,
.link-item-service {
  font-size: 1.6rem;
  font-weight: 600;
}

.list-service {
  list-style-type: none;
  padding: 0;
}

.item-service {
  margin-bottom: 10px;
}

.link-item-service {
  text-decoration: none;
  color: #333;
}

.icon-item-service {
  display: inline-block;
  margin-right: 10px;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: #33333314;
}
