.container-header {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.logo-header {
  padding-top: 10px;
}
.box-content-account {
  display: flex;
  align-items: center;
}

.item-menu-header {
  display: flex;
  background-color: #fff;
  border: 0;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  gap: 10px;
  cursor: pointer;
  border-right: 2px solid #efefef;
  margin-right: 10px;
}

.item-menu-header:hover {
background-color: #f5f5f5;
}

.icon-cart-shopping {
  color: #333;
}

.account-user {
  position: relative;
}

.popup-menu {
  min-width: 194px;
  position: absolute;
  background: #fff;
  padding: 20px;
  right: 10px;
  top: 40px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.popup-welcome-user {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}

.popup-menu-item {
  display: flex;
  gap: 10px;
  color: #606060;
  font-weight: 400;
  text-decoration: none;
  padding-top: 10px;
  align-items: center;
  width: 100%;
  border: 0;
  background: #fff;
}

.logout-button.popup-menu-item { 
  color: red;
  border-top: 1px dashed #ccc;
  cursor: pointer;
  padding-top: 16px;
}

.popup-menu-item:hover {
  opacity: 0.6; 
}