.banner {
    background-image: url(../../../assets/imgs/Header_tittle_312c367040.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: var(--header-height);
    min-height: 240px;
    display: flex;
    flex-direction: column;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    text-align: center;
    flex: 1;
    color: #FFFFFF;
}

.title {
    font-size: 1.50rem;
    font-weight: 600;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: #FFFFFF;

    a {
        text-decoration: none;
        font-size: 0.88rem;
        font-weight: 500;

        &:hover,
        &:active,
        &:link,
        &:visited {
            color: #FFFFFF;
        }

        &:not(:last-child) {
            opacity: .6;
            color: rgb(255 255 255/1);
        }
    }

    span {
        margin: 0 5px;
    }
}