.footer {
 margin-top: 80px;
}

.title-footer {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 10px 60px;
}

.menu-footer,
.footer-contact {
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
}

.footer-contact {
  margin: 20px 0 40px;
}

/* .item-footer {
    width: 50%;
} */

.box-content-footer {
  margin-bottom: 14px;
}

.title-item {
  font-weight: 600;
}

.content-item {
  text-decoration: none;
  color: #000;
  display: block;
}

.copyright-footer {
  padding: 20px 60px;
  font-size: 1.4rem;
  background-color: #f5f5f5;
}

.content-item.text-gray {
  color: #8c8c8c;
}

.box-icon-social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 14px;
}

.form-register-footer {
  margin-top: 14px;
  display: flex;
}

.input-submit-footer {
  border: 1px solid #e5e7eb;
  height: 38px;
  padding: 10px;
  flex: 1;
  font-size: 1.2rem;
}

.input-submit-footer::placeholder {
  color: #c3c3c3;
}

.contact-email {
  width: 52%;
}

.btn-submit-register {
  font-size: 1.6rem;
  background-color: #00194f;
  color: #fff;
  padding: 0 20px;
  border: 0;
  cursor: pointer;
}
