.container-header {
  display: flex;
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

.logo-header {
  padding-top: 10px;
}

.item-menu-header {
  border: 0;
  background-color: #fff;
  padding: 4px 20px;
  cursor: pointer;
  color:#000;
}

a.item-menu-header{
    text-decoration: none;
}

.header-contact {
  background-color: #7c0000;
  padding: 8px 20px;
  color: #fff;
  border: 0;
  cursor: pointer;
}
