@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #00194f;
    --header-height: 70px;

    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

.container {
    max-width: 1176px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.react-tel-input {
    font-size: 15px;
    position: relative;
    width: 100%;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

input:focus {
    outline: none;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

@layer utilities {
    .absolute-center {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .text-gray-10 {
        --tw-text-opacity: 1;
        color: rgb(38 38 38 / var(--tw-text-opacity));
    }

    .shadow-6 {
        --tw-shadow: 0px 4px 12px 0px rgba(0, 0, 0, .16);
    }

    .shadow-5 {
        --tw-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
    }

    .shadow-5, .shadow-6 {
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    .shadow-3 {
        box-shadow: 0 0 #0000, 0 0 #0000, 0 8px 12px rgba(0, 0, 0, .16);
    }

    .shadow-2 {
        box-shadow: 0 0 #0000, 0 0 #0000, 15px 32px 80px 0 rgba(0, 0, 0, .08);
    }

    .shadow-1 {
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0 12px 24px 0 rgba(0, 0, 0, .08);
    }

    .bg-gray-1 {
        background-color: hsla(0, 0%, 100%, .24);
    }

    .leading-10 {
        line-height: 2.5rem
    }

    .leading-27 {
        line-height: 27px
    }

    .leading-54 {
        line-height: 54px
    }

    .leading-6 {
        line-height: 1.5rem
    }

    .leading-9 {
        line-height: 2.25rem
    }

    .text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}