@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00194f;
  --header-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
}

.container {
  max-width: 1176px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.text-gray-10 {
    --tw-text-opacity: 1;
    color: rgb(38 38 38 / var(--tw-text-opacity));
}