.header {
  margin-bottom: 20px;
}

.header .link, .forgot-password .link {
  color: #00194f;
  text-decoration: none;
  font-weight: 600;
}

.header .link:hover {
  color: rgb(255, 166, 0);
}

.form-group {
  margin-bottom: 10px;
}

.login-form .input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.text-is-red {
  color: red;
}

.confirm-button {
  margin-top: 28px;
  margin-bottom: 20px;
  width: 100%;
  height: 38px;
  border-radius: 4px;
  border: 0;
  background-color: #00194f;
  color: #fff;
  cursor: pointer;
}
